* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222322;
}

h1 {
  font-size: 3rem;
  line-height: 2;
  text-align: center;
}

.container {
  background: #fff;
  padding: 1.2rem;
  width: 90vw;
  max-width: 35rem;
  margin: 8rem auto;
  border-radius: 8px;
}

.form-control {
  display: flex;
  justify-content: center;
}

input {
  padding: 0.25rem;
  font-size: 1.2rem;
  flex: 1 0 auto;
  border-radius: 8px 0px 0px 8px;
  border-color: #f0f1f0;
}

input:focus {
  outline: none;
}

button {
  /* margin-left: 8px; */
  background: #dfe1e2;
  padding: 8px;
  font-weight: 800;
  border-radius: 0px 8px 8px 0px;
  border: transparent;
  cursor: pointer;
}

button:hover {
  transform: scale(1.08);
  transition-duration: 1s;
}

.list-container {
  margin-top: 20px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background: #f7f7f7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  font-size: 1rem;
}

.btn-item {
  display: flex;
  justify-content: space-between;
  width: 6vw;
  /* background: #9fcf9d; */
  font-size: 1.2rem;
}

.alert {
  margin-bottom: 1.5rem;
  /* height: 1.25rem; */
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
}

.alert.error {
  background: #e63d09;
}

.alert.success {
  background: #74db6b;
}